.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 300px;
    padding: 4rem 0;
    padding-bottom: 2rem;
    padding-top: 6rem;
}

.card input {
    border: 1.2px solid rgba(var(--card-border-rgb), 0.15);
    background: rgba(var(--card-rgb), 0.1);
    border-radius: 10px;
    height: 3rem !important;
    transition: 0.3s;
}


.card input:focus {
    border-color: var(--card-border-rgb);
    box-shadow: none;
    border-radius: 10px;
}

.card h1 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 10px;
}

.card button {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    height: 3rem !important;
    background-color: rgba(var(--foreground-rgb), .8) !important;
    color: rgb(var(--background-end-rgb));
    ;
}

.card button:active {
    background-color: rgba(var(--foreground-rgb), .5) !important;
}


.verify_input_container {
    width: 100%;
}

.verify_input_container div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.verify_input_container div input {
    width: 3rem;
    text-align: center;
}

.verification_message {
    font-size: 12px;
    color: gray;
}

.button_container {
    width: 100%;
    position: relative;
    margin-top: 15px;
}

.button_container p {
    position: absolute;
    top: -15px;
    font-size: 12px;
    color: var(--geist-success);
    right: 15px;
    cursor: default;
    text-decoration: underline;
}

.signup {
    font-size: 13px;
    color: var(--background-end-rgb);
}

.signup span {
    color: var(--geist-success);
    text-decoration: underline;
    cursor: pointer;
}


@media (max-width: 700px) {
    .card {
        padding-top: 6rem;
    }

}