.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 300px;
    padding: 4rem 0;
    padding-top: 8rem;
}

.grid {
    height: 100%;
    width: 100%;
}

.card input {
    border: 1.2px solid rgba(var(--card-border-rgb), 0.15);
    background: rgba(var(--card-rgb), 0.1);
    border-radius: 10px;
    height: 3rem !important;
    transition: 0.3s;
}


.card input:focus {
    border-color: var(--card-border-rgb);
    box-shadow: none;
    border-radius: 10px;
}

.card h1 {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 20px;
}

.card button {
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    height: 3rem !important;
    background-color: rgba(var(--foreground-rgb), .8) !important;
    color: rgb(var(--background-end-rgb));
    ;
}

.card button:active {
    background-color: rgba(var(--foreground-rgb), .5) !important;
}

.chakra-slide {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom,
            transparent,
            rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}


.drawer-header:first-child {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: 2.4rem;
    font-weight: 600;
    position: relative;
}

.drawer-header:first-child span span {
    font-size: 1rem;
}

.drawer-close-btn {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(0, -50%);
}

.div-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.div-container p {
    /* font-weight: 700 ; */
}


@media (max-width: 700px) {
    .card {
        padding-top: 8rem;
    }

}

.verify-input-container {
    width: 100%;
}

.verify-input-container div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.verify-input-container div input {
    width: 3rem;
    text-align: center;
}

.verification-message {
    font-size: 12px;
    color: gray;
}

.button-container {
    width: 100%;
    position: relative;
    margin-top: 15px;
}

.button-container p {
    position: absolute;
    top: -15px;
    font-size: 12px;
    color: var(--geist-success);
    right: 15px;
    cursor: default;
    text-decoration: underline;
}